<br>
<div class="container">
  <button class="btn btn-primary w-100" (click)="getTickets()">View Tickets</button>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Ticket ID</th>
        <th>Title</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Category</th>
        <th>Assigned To</th>
        <th>Last Reply</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets">
        <td>{{ticket.id}}</td>
        <td>{{ticket.title}}</td>
        <td>{{ticket.priority}}</td>
        <td>{{ticket.status}}</td>
        <td>{{ticket.category}}</td>
        <td>{{ticket.assignedto}}</td>
        <td>{{ticket.message}}</td>
        <td><p *ngIf="ticket.rating">{{ticket.rating}} stars</p></td>
      </tr>
    </tbody>
  </table>
</div>
