<br>

<div class="container">
<div *ngIf="getMembersError" class="card w-100">
  <div class="card-body bg-danger text-white text-center">
    {{ getMembersError }}
  </div>
</div>
</div>

<div class="container" *ngIf="!getMembersError">
  <div *ngIf="isMemberAdded" class="card w-75 text-white bg-dark mb-3" >
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title text-center">Member Added</h5><br>
      <button class="btn bg-light w-100" (click)="addAnotherMember()">Add Another Member</button>
    </div>
  </div>
  <div class="card" *ngIf="!isMemberAdded" style="width:98%">
    <h5 class="card-header text-center">Add Members</h5><br>
    <form #Form="ngForm">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="member.name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="member.email">
        </div>
      </div>
        <div class="form-group">
          <br>Category
          <select class="dropdown-item bg-light dropdown-toggle" name="category"  name="department" style="float:right;width:90%" [(ngModel)]="member.department">
            <option class="w-100 dropdown-item" >Transcript</option>
            <option class="w-100 dropdown-item" >Verfication</option>
            <option class="w-100 dropdown-item" >Finance</option>
          </select>
        </div>
        <br>
        <button class="btn btn-primary w-100" (click)="addMember()">Add Member</button>
    </form>
  </div>
  <br>
  <div *ngIf="errInAddingMembers" class="card w-100">
    <div class="card-body bg-danger text-white text-center">
      {{ errInAddingMembers }}
    </div>
  </div>
  <br>
  <hr style="background-color:red;width:96%"><br>
  <button class="btn btn-primary " (click)="showMembersOnClick()" style="width:98%">Manage Existing Members</button><br><br>
  <div class="card w-100" *ngIf="showMembers">
    <div class="form-row" *ngFor="let member of members">
      <div class="col">
        <input type="text" class="form-control" placeholder="{{member.name}}" name="name" disabled>
      </div>
      <div class="col" style="width:95%">
        <input type="text" class="form-control" placeholder="{{member.department}}" name="department" disabled>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="{{member.email}}" name="email" disabled>
      </div>
      <div class="col text-center">
        <button class="btn btn-danger w-75" (click)="deleteMember(member._id)">Delete</button>
      </div><br><br>
    </div>
  </div>

</div>
