<br>
<div class="container">
  <div *ngIf="isMemberAdded" class="card w-75 text-white bg-dark mb-3" >
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title text-center">Member Added</h5><br>
      <button class="btn bg-light w-100" (click)="addAnotherMember()">Add Another Member</button>
    </div>
  </div>
  <div class="card" *ngIf="!isMemberAdded" style="width:98%">
    <h5>Add Members</h5>
    <form #Form="ngForm">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="member.name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="member.email">
        </div>
      </div>
        <div class="form-group">
          <br>Category
          <select class="dropdown-item bg-light dropdown-toggle" name="category"  name="department" style="float:right;width:90%" [(ngModel)]="member.department">
            <option class="w-100 dropdown-item" >Transcript</option>
            <option class="w-100 dropdown-item" >Verfication</option>
            <option class="w-100 dropdown-item" >Finance</option>
          </select>
        </div>
        <br>
        <button class="btn btn-primary w-100" (click)="addMember()">Add Member</button>

    </form>
  </div>
</div>
