<br>
<br><!--(ngSubmit)="onCreate()"-->

<div *ngIf="isTicketCreated" class="card w-75 text-white bg-dark mb-3" >
  <div class="card-header">Hello</div>
  <div class="card-body">
    <h5 class="card-title">Ticket is Succesfully Created</h5>
    <p class="card-text">Goto View My Tickets to see the status of your ticket</p>
  </div>
</div>

<div class="card " *ngIf="!isTicketCreated" style="width:95%">
  <h5 class="bg-primary text-white card-header ">Create a Ticket</h5>
<form #loginForm="ngForm" >
<br>
  <label for="id">Ticket Id</label>
    <div class="input-group mb-3">
      <br>
      <input type="text" class="form-control" [(ngModel)]="ticket.id" name="id" placeholder="" disabled>
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="getCount()">Get Id</button>
      </div>
    </div>

  <div class="form-group">
    <br>
    <label for="subject">Ticket Subject</label>
    <input type="text" class="form-control" [(ngModel)]="ticket.subject" name="subject" placeholder="" >
  </div>
  <div class="form-group">
    <label for="priority">Priority</label>
    <br>
  <select class="dropdown-item bg-light dropdown-toggle w-100" name="priority" [(ngModel)]="ticket.priority">
    <option class="w-100 dropdown-item" >Low</option>
    <option class="w-100 dropdown-item" >Moderate</option>
    <option class="w-100 dropdown-item" >Critical</option>
</select>
</div>

<div class="form-group">
  <label for="category">Category</label>
  <br>
<select class="dropdown-item bg-light dropdown-toggle w-100" name = "category" [(ngModel)]="ticket.category">
  <option class="w-100 dropdown-item" >General</option>
  <option class="w-100 dropdown-item" >Courses</option>
  <option class="w-100 dropdown-item" >Registration</option>
  <option class="w-100 dropdown-item" >Administration</option>
  <option class="w-100 dropdown-item" >Finance</option>
  <option class="w-100 dropdown-item" >Placement</option>
</select>
</div>

<div class="form-group">
  <label for="message">Message </label>
  <textarea class="form-control" rows="5" name="message" [(ngModel)]="ticket.message"></textarea>
</div>

<div class="form-group">
    <label for="attachment">Attach Files</label>
    <input type="file" class="form-control-file" name="file" [(ngModel)]="ticket.file">
</div>

  <input type="submit" value="Create Ticket" (click)="onCreate()" class="btn btn-primary w-100 btn-sm" >&nbsp;

</form>
<div class="bg-danger text-white text-center" *ngIf="errMessTicket">{{errMessTicket}}</div><br>
</div>
