<div class="sidenav nav-sidebar">
    <li id="admin" class="list-unstyled">
      <a data-toggle="collapse" data-parent="#admin" href="#admin_sb_c" class="collapsed active" style="background-color:#0C090A">
        Admin panel
        </a>
        <div id="admin_sb_c" class="panel-collapse collapse-sidebar-links-inner in" style="background-color:#B6B6B4">
          <ul class="inner-sidebar-links" >
            <li class="active text-black" routerLink="/login">Login</li>
            <li class="text-black">Home</li>
          </ul>
        </div>
    </li>

    <li class="list-unstyled">
      <a class="text-white collapsed" href="" routerLink="/admindashboard" style="background-color:#0C090A;font-size:20px;padding:2px 0px 7px 15px">
        Dashboard
      </a>
    </li>

    <li id="tokens" class="list-unstyled">
        <a data-toggle="collapse" data-parent="#tokens" href="#tokens_sb_c" class="collapsed active" style="background-color:#0C090A">
          Tickets
        </a>
        <div id="tokens_sb_c" class="panel-collapse collapse-sidebar-links-inner in" style="background-color:#B6B6B4">
          <ul class="inner-sidebar-links">
            <li class="active text-black" routerLink="/tickets">Login</li>
            <li class="text-black">All Tickets</li>
            <li class="text-black">Your Tickets</li>
            <li class="text-black">Assigned Tickets</li>
            <li class="text-black">Categories</li>
          </ul>
        </div>
    </li>

    <li id="reports" class="list-unstyled">
        <a data-toggle="collapse" data-parent="#reports" href="#reports_sb_c" class="collapsed active" style="background-color:#0C090A">
          Reports
        </a>
        <div id="reports_sb_c" class="panel-collapse collapse-sidebar-links-inner in" style="background-color:#B6B6B4">
          <ul class="inner-sidebar-links" >
            <li class="active text-black" routerLink="/">Login</li>
            <li class="text-black">Ticket Report</li>
            <li class="text-black">Rated Tickets</li>
            <li class="text-black">User Ratings</li>
          </ul>
        </div>
    </li>

    <li id="clients" class="list-unstyled">
        <a data-toggle="collapse" data-parent="#clients" href="#clients_sb_c" class="collapsed active" style="background-color:#0C090A">
          Client
        </a>
        <div id="clients_sb_c" class="panel-collapse collapse-sidebar-links-inner in" style="background-color:#B6B6B4">
          <ul class="inner-sidebar-links" >
            <li class="active text-black" routerLink="/client/createticket">Create Ticket</li>
            <li class="text-black" routerLink="/client/viewtickets">View My Tickets</li>
          </ul>
        </div>
    </li>


</div>
